.wraper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.header__header {
    padding: 15px 0;
}

.header__top {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    background-color: #0000008f;
}

.container {
    max-width: 1300px;
    padding: 0px 15px;
    margin: 0 auto;
    height: 100%;
    background-size: 1000px;
}

.header__logo {
    margin-left: 10px;
}

.header__menu {
    display: flex;
    color: #ffffffbe;
}

.header__item {
    transition: all 0.3s;
    margin-right: 10px;
    border-radius: 30px;
    padding: 5px 10px;
    background-color: #00ffff2d;
}

.header__item:hover {
    transition: all 0.3s;
    background-color: rgba(255, 0, 13, 0.336);

}

.header__user-bg {
    padding: 25px;
    margin-top: 30px;
    text-align: center;
    align-items: center;
    font-size: 28px;
    background-color: rgba(73, 111, 146, 0.178);
}

.header__user-tel span {
    font-size: 20px;
    margin-right: 10px;
}

.header__user-tel {
    font-weight: 900;
    margin-right: 30px;
    font-size: 45px;
}

.header__address {}



.header__img {

    border-radius: 70px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.205) 0%, rgba(110, 87, 10, 0.363) 35%, rgba(255, 8, 0, 0.322) 100%);
}

.header__inner {
    align-items: center;
    padding-top: 90px;
    display: flex;
    justify-content: space-around;
}

.main__inner {
    display: flex;
    justify-content: center;
}

.main__img {
    background-image: url("./bagraund/bag.png");
    background-size: 80px;
    background-color: rgba(98, 109, 109, 0.055);
    height: 50%;
    border-radius: 10px;
}



.main__items {
    margin: 3px;
    margin-top: 40px;
    padding: 15px;
    height: 350px;
    border-radius: 40px;
    border-right: solid 2px rgba(202, 195, 200, 0.76);
    border-left: solid 2px rgba(172, 163, 169, 0.76);
    transition: all 0.3s;
}

.main__items:hover {
    transition: all 0.3s;
    scale: 1.01;
    box-shadow: 10px 5px 5px rgba(80, 34, 34, 0.274);
}

.main__price-list {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__header {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 20px;
}

.main__title {
    margin-bottom: 15px;
    color: rgba(66, 66, 66, 0.801);
}



.main__price-item {}

.main__quantity {
    /*     margin-bottom: 10px; */
    color: rgba(66, 66, 66, 0.801);
}

.main__price-icon {
    display: flex;

}

.main__price {
    font-weight: 900;
}

.main__button {
    color: rgb(255, 255, 255);
    font-weight: 9400;
    font-size: 22px;
    width: 130px;
    height: 35px;
    border-radius: 5px;
    background-color: #da084759;
}

.main__button:hover {
    font-weight: 500;
    background-color: #da084781;
}