.wraper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.header__header {
    padding: 15px 0;
}

.header__top {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 46px;
    background-color: #0000008f;
}

.container {
    max-width: 1300px;
    padding: 0px 15px;
    margin: 0 auto;
    height: 100%;
    background-size: 1000px;
}

.header__logo {
    margin-left: 10px;
}

.header__menu {
    display: flex;
    color: #ffffffbe;
}

.rr:hover {
    border-bottom: solid 2px black;
}

.header__item {
    border-bottom: solid 1px #000000;
    transition: all 0.3s;
    margin-right: 10px;
    border-radius: 30px;
    padding: 5px 10px;
    background-color: #00ffff2d;

}


.header__item:hover {
    transition: all 0.3s;
    background-color: #ff000d56;

}

.header__user-bg {
    margin-top: 3.9px;
    margin-right: 15px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__user-bg:hover {
    scale: 1.3;
    border-radius: 50%;
    color: #000000;
}

.header__user-tel:hover {}


.header__img {

    border-radius: 70px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.205) 0%, rgba(110, 87, 10, 0.363) 35%, rgba(255, 8, 0, 0.322) 100%);
}

.header__inner {
    align-items: center;
    padding-top: 90px;
    display: flex;
    justify-content: space-around;
}

.main__inner {
    display: flex;
    justify-content: center;
}

.main__img {
    background-image: url("./bagraund/bag.png");
    background-size: 80px;
    background-color: rgba(98, 109, 109, 0.055);
    border-radius: 10px;
}

.main__images {
    padding: 30px 0px;
    color: aqua;
    background-image: url("./bagraund/bag.png");
    background-size: 80px;
    background-color: rgba(98, 109, 109, 0.055);
    border-radius: 10px;
}


.main__items {
    margin: 3px;
    margin-top: 40px;
    padding: 10px;
    border-radius: 40px;
    border-right: solid 2px rgba(202, 195, 200, 0.76);
    border-left: solid 2px rgba(172, 163, 169, 0.76);
    transition: all 0.3s;
}

.main__items:hover {
    transition: all 0.3s;
    scale: 1.01;
    box-shadow: 10px 5px 5px rgba(80, 34, 34, 0.274);
}

.main__price-list {
margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__header {
    margin-top: 5px;
    font-size: 22px;
    font-weight: 900;
    margin-bottom: 20px;

}

.main__title {
    margin-bottom: 15px;
    color: rgb(66, 66, 66);
}



.main__price-item {
    margin-left: 10px;
}

.main__quantity {
    font-style: italic;
    display: flex;
    color: rgba(66, 66, 66, 0.801);
}

.main__price-icon {

}

.main__product {
    margin-top: 80px;
    width: 300px;
    margin-bottom: 20px;
}
.main__price {
    font-size: 20px;
    font-weight: 900;

}

.main__button {
    color: rgb(255, 255, 255);
    font-weight: 9400;
    font-size: 20px;
    width: 180px;
    height: 50px;
    border-radius: 5px;
    background-color: #da084759;
    margin-bottom: 0px;
}

.main__button:hover {
    font-weight: 500;
    background-color: #da084781;
}